head {
    background-color: gray;
    display: flex;
}

body {
    background-color: gray;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
}

h1 {
    color: white;
    justify-content: center;
}

content {
    display: flex;
    justify-content: center;
    color: white;
}